.Footer {
  margin-top: auto;
  padding: 1.5rem 0;
  text-align: center;
}

.Footer h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: black;
  margin: 0;
  padding-top: 10px;
}

.Footer a {
  color: black;
}

.Footer a:hover {
  color: rgb(172, 135, 245);
  font-weight: 300;
}

.badge {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.badge img {
  width: 150px;
  max-width: 90%;
  height: auto;
}

@media screen and (max-width: 750px) {
  .Footer h3 {
    font-size: 13px;
  }
}
