.Header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Cute Font', cursive;
}

.Header a {
	text-decoration: none;
	color: #000000;
}

.Header h1 {
	padding-bottom: 40px;
	margin: 10px;
	text-align: center;
	color: rgb(0, 0, 0);
	font-size: 120px;
}

@media screen and (max-width: 750px) {
	.Header {
		padding: 10px;
		margin: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.Header h1 {
		font-size: 50px;
	}
}
