.main {
	background-color: #fbfcf5;
	color: #000000;
	user-select: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}

.container a {
	text-decoration: none;
}

.container h3 {
	color: #000000;
	margin-bottom: 5px;
}

.container p {
	color: #000000;
	font-size: 14px;
	margin-top: 5px;
	text-align: center;
	padding-top: 30px;
}

.titleContainer {
	text-align: center;
}

.title {
	color: #000000;
	font-family: 'Cute Font', cursive;
	font-size: 100px;
	font-weight: bold;
	margin: 20px 30px;
}

.logo {
	height: 70px;
	width: 70px;
	display: inline-block;
	vertical-align: middle;
}

.projectGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 10px;
	text-align: center;
}

/* img for project cards */
.projectCard1 img {
	max-width: 100%;
	height: 40px;
	width: 40px;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

.projectCard1 {
	padding: 10px;
	text-align: center;
	background-color: #f3daed;
	border: transparent 2px solid;
}

.projectCard2 {
	padding: 10px;
	text-align: center;
	background-color: #f3daed;
	border: transparent 2px solid;
}

.projectCard1:hover {
	background-color: #d3d7f8;
	border-color: #727ae5;
}

.projectCard2 {
	padding: 10px;
	text-align: center;
	background-color: #f7eecf;
	border: transparent 2px solid;
}

@media screen and (max-width: 750px) {
	.projectGrid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin: 5px;
		padding: 0 50px;
		text-align: center;
	}
}
