.main {
	background-color: #fbfcf5;
	color: #000000;
	user-select: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
}

.container a {
	text-decoration: none;
}

.container h3 {
	color: #000000;
	margin-bottom: 5px;
}

.container p {
	color: #000000;
	font-size: 14px;
	margin-top: 5px;
	text-align: center;
	padding-top: 30px;
}

.titleContainer {
	text-align: center;
	margin: 0px;
}

.title {
	color: #000000;
	font-family: 'Cute Font', cursive;
	font-size: 100px;
	font-weight: bold;
	margin: 20px 30px;
}

.logo {
	height: 70px;
	width: 70px;
	display: inline-block;
	vertical-align: middle;
}

.projectGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 10px;
	text-align: center;
}

.projectCard1,
.projectCard2,
.projectCard3,
.projectCard4,
.projectCard5,
.projectCard6,
.projectCard7 {
	padding: 10px;
	text-align: center;
	border: transparent 3px solid;
}
/* img for project cards */
.projectCard1 img,
.projectCard2 img,
.projectCard3 img,
.projectCard4 img,
.projectCard5 img,
.projectCard6 img,
.projectCard7 img {
	max-width: 100%;
	height: 90px;
	width: 90px;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

.projectCard1 {
	background-color: #f3faea;
}

.projectCard1:hover {
	background-color: #edfdda;
	border-color: #d8f0ba;
}

.projectCard2 {
	background-color: #fff3f8;
}

.projectCard2:hover {
	background-color: #fae7ef;
	border-color: #fecfe2;
}

.projectCard3 {
	background-color: #fffee9;
}

.projectCard3:hover {
	background-color: #fcfade;
	border-color: #f7f3cf;
}

.projectCard4 {
	background-color: #f6fffe;
}

.projectCard4:hover {
	background-color: #eafdfc;
	border-color: #bdfef8;
}

.projectCard5 {
	background-color: #faf6ff;
}

.projectCard5:hover {
	background-color: #f3ebfd;
	border-color: #d8c5fc;
}

.projectCard6 {
	background-color: #faedff;
}

.projectCard6:hover {
	background-color: #f8e5ff;
	border-color: #edc5fc;
}

.projectCard7 {
	opacity: 40%;
	background-color: #f3f4ef;
	border: transparent 2px solid;
}

@media screen and (max-width: 750px) {
	.projectGrid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin: 5px;
		padding: 10px;
		text-align: center;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
	.projectGrid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin: 5px;
		padding: 10px;
		text-align: center;
	}
}

@media only screen and (-webkit-max-device-pixel-ratio: 2) {
	.projectGrid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin: 5px;
		padding: 10px;
		text-align: center;
	}
}
