.Icons {
	padding: 60px 0px;
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	transition: all 0.3s ease 0s;
}

.Icons a,
.Icons Image {
	margin: 0 6px;
	text-decoration: none;
}

.Icons a:hover {
	transform: translateY(-5px);
}

@media screen and (max-width: 750px) {
	.Icons {
		position: relative;
		padding-bottom: 0px;
	}
}
