.Icons {
	padding: 50px;
	text-align: center;
}

.Icons a {
	color: #d3d7f8;
	line-height: 30px;
	font-size: 30px;
	margin: 0 10px;
	text-decoration: none;
}

.Icons a:hover {
	color: #9fa5d8;
	line-height: 30px;
	font-size: 30px;
	margin: 0 10px;
	text-decoration: none;
}
